* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.intro {
  position: relative;
  display: flex;
  height: 70vh;
}

.vid {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.awesome {
  background: rgba(128, 128, 128, 0.123);
  width: 400px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  left: calc(8%);
  top: calc(25%);
  backdrop-filter: blur(3px);
  color: rgba(255, 255, 255, 0.63);
}

.arrow {
  position: absolute;
  left: calc(50%);
  bottom: calc(5%);
  font-size: 3rem;
  color: orangered;
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    bottom: 5%;
  }
  100% {
    bottom: 0%;
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 50%;
  background-color: black;
  color: orange;
  padding: 20px;
  position: sticky;
  top: 0;
}
.navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.navlink li:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.5s;
  color: orangered;
}
.navlink ul {
  list-style-type: none;
}

.parallax1 {
  background: url(./assets/a.jpg) no-repeat center;
  min-height: 500px;
  background-attachment: fixed;
  /* background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.pa-text {
  display: grid;
  justify-content: center;
}
.pa-text > p:first-child {
  font-weight: bold;
  font-size: 24px;
}
.pt1 {
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  width: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}
.parallax2 {
  background: url(./assets/b.jpg) no-repeat center;
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax3 {
  background: url(./assets/d.jpg) no-repeat center;
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}
